alembic==1.4.3
alpaca-trade-api==0.51.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docopt==0.6.2
fastapi==0.63.0
h11==0.12.0
idna==2.10
Mako==1.1.3
MarkupSafe==1.1.1
numpy==1.19.4
openfigi==0.0.8
pandas==1.2.0
pipreqs==0.4.10
psycopg2==2.8.6
pydantic==1.7.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.5
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.22
starlette==0.13.6
urllib3==1.25.11
uvicorn==0.13.3
websocket-client==0.57.0
websockets==8.1
yarg==0.1.9