{% extends "layout.html" %}
{% block content %}


    <h1> Stock List </h1>

    <form method="get">

        <select name="filter">
            <option value="">All Stocks</option>
            <option {% if request.query_params.filter=="new_closing_highs" %} selected = "selected" {% endif %}
                    value="new_closing_highs">New Closing Highs</option>
            <option {% if request.query_params.filter=="new_closing_lows" %} selected = "selected" {% endif %}
                    value="new_closing_lows">New Closing Lows</option>
            <option {% if request.query_params.filter=="rsi_overbought" %} selected = "selected" {% endif %}
                    value="rsi_overbought">RSI Overbought</option>
            <option {% if request.query_params.filter=="rsi_oversold" %} selected = "selected" {% endif %}
                    value="rsi_oversold">RSI Oversold</option>
            <option {% if request.query_params.filter=="above_sma_20" %} selected = "selected" {% endif %}
                    value="above_sma_20">Above 20 SMA</option>
            <option {% if request.query_params.filter=="below_sma_20" %} selected = "selected" {% endif %}
                    value="below_sma_20">Below 20 SMA</option>
            <option {% if request.query_params.filter=="above_sma_50" %} selected = "selected" {% endif %}
                    value="above_sma_50">Above 50 SMA</option>
            <option {% if request.query_params.filter=="below_sma_50" %} selected = "selected" {% endif %}
                    value="below_sma_50">Below 50 SMA</option>

         </select>

         <input type="submit" />
    </form>

    <table class="ui striped table">
    <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Datetime</th>
          <th>high</th>
          <th>low</th>
          <th>open</th>
          <th>close</th>
          <th>volume</th>
          <th>exchange</th>

        </tr>
    </thead>

    <tbody>
      {% for stock in stocks %}
      <tr>
    <!--                    <td>{{stock.id}}</td>-->
            <td>{{stock.stock_symbol}}</td>
             <td>{{stock.symbol.name}}</td>
             <th>{{stock.datetime}}</th>
              <td>{{stock.high}}</td>
               <td>{{stock.low}}</td>
                <td>{{stock.open}}</td>
                 <td>{{stock.close}}</td>
                  <td>{{stock.volume}}</td>
                 
                    <td>{{stock.symbol.exchange_Acr}}</td>

            

      {% endfor %}

    </tbody>

    </table>

{% endblock %}